.icon-48-uploads {
      background-image: url(../images/l_uploads.png);
      padding-left:60px!important;
}

.icon-48-upload {
      background-image: url(../images/l_uploads.png);
      padding-left:60px!important;
}

