.icon-48-campaigns {
      background-image: url(../images/l_campaigns.png);
      padding-left:60px!important;
}

.icon-48-campaign {
      background-image: url(../images/l_campaigns.png);
      padding-left:60px!important;
}

.icon-48-brands {
      background-image: url(../images/l_brands.png);
      padding-left:60px!important;
}

.icon-48-brand {
      background-image: url(../images/l_brands.png);
      padding-left:60px!important;
}

.icon-48-campaigntypes {
      background-image: url(../images/l_campaigntypes.png);
      padding-left:60px!important;
}

.icon-48-campaigntype {
      background-image: url(../images/l_campaigntypes.png);
      padding-left:60px!important;
}

.icon-48-campaignstatuss {
      background-image: url(../images/l_campaignstatuss.png);
      padding-left:60px!important;
}

.icon-48-campaignstatus {
      background-image: url(../images/l_campaignstatuss.png);
      padding-left:60px!important;
}

.icon-48-accounts {
      background-image: url(../images/l_accounts.png);
      padding-left:60px!important;
}

.icon-48-account {
      background-image: url(../images/l_accounts.png);
      padding-left:60px!important;
}

.icon-48-accountbrandmappings {
      background-image: url(../images/l_accountbrandmappings.png);
      padding-left:60px!important;
}

.icon-48-accountbrandmapping {
      background-image: url(../images/l_accountbrandmappings.png);
      padding-left:60px!important;
}

.icon-48-accountusermappings {
      background-image: url(../images/l_accountusermappings.png);
      padding-left:60px!important;
}

.icon-48-accountusermapping {
      background-image: url(../images/l_accountusermappings.png);
      padding-left:60px!important;
}

.icon-48-userbrandmappings {
      background-image: url(../images/l_userbrandmappings.png);
      padding-left:60px!important;
}

.icon-48-userbrandmapping {
      background-image: url(../images/l_userbrandmappings.png);
      padding-left:60px!important;
}

